<div class="container mt-5">
  <div class="row h-100">

    <%# if current_user.photo.attached? %>
      <%#= cl_image_tag(current_user.photo.key, :crop => "pad", :class => "img_profile") %>
    <%# end %>


    <div class="card-profile col-4 rounded p-3 shadow">
      <h3>Edit your Profile</h3>
      <%= link_to 'Edit your profile is buggy', edit_user_registration_path, class: "btn btn-success rounded-10 shadow" %>
    </div>

    <div class="card-profile col-4 rounded p-3 shadow">
      <h3>New an organization</h3>
      <%= link_to 'Create a new organization', new_organisation_path, class: "btn btn-success rounded shadow" %>
    </div>

    <div class="card-profile col-4 rounded p-3 shadow">
      <h3>What skills do you have to offer?</h3>
      <%= link_to 'Your Skills', edit_user_registration_path, class: "btn btn-success rounded shadow" %>
    </div>

    <div class="card-profile col-4 rounded p-3 shadow">
      <h3>link collection</h3>
      <ul>
        <li><%= link_to 'All organization', organisations_path, class: "list-unstyled" %></li>
        <li><%= link_to 'My organization', organisation_path(current_user), class: "list-unstyled" %></li>
        <li><%= link_to 'Edit my organization', edit_organisation_path(current_user), class: "list-unstyled" %></li>
      </ul>
    </div>

    <%= render "skills/form", skill: @skill, organisation: @organisation %>
    <% @skills.each do |skill| %>
      <h2><%= skill.name %>:</h2>
      <p><%= skill.description  %></p>
    <% end %>

<div class="container p-5">
  <div class="col-4">
    <div class="row p-3 m-4">
      <p><strong>Donations</strong></p>
        <ul class="list-group">
          <% @profile.donations.each do |donation| %>
            <li class="list-group-item"><%= donation.id%>-<%= donation.organisation.name%></li>
            <li class="list-group-item"><%= donation.quantity%> <%= donation.type_of_donation%></li>
            <li class="list-group-item"><%= donation.description%></li>

          <% end %>
        </ul>
    </div>
  </div>
</div>
