<div class="container mt-5">
  <div class="row h-100">

    <%# if current_user.photo.attached? %>
      <%#= cl_image_tag(current_user.photo.key, :crop => "pad", :class => "img_profile") %>
    <%# end %>


    <div class="card-profile col-4 rounded p-3 shadow">
      <h3>Edit your Profile</h3>
      <%= link_to 'Edit your profile is buggy', edit_user_registration_path, class: "btn btn-success rounded-10 shadow" %>
    </div>

    <div class="card-profile col-4 rounded p-3 shadow">
      <h3>New an organization</h3>
      <%= link_to 'Create a new organization', edit_user_registration_path, class: "btn btn-success rounded shadow" %>
    </div>

    <div class="card-profile col-4 rounded p-3 shadow">
      <h3>link collection</h3>
      <ul>
        <li><%= link_to 'All organization', organisations_path, class: "list-unstyled" %></li>
        <li><%= link_to 'My organization', organisation_path(current_user), class: "list-unstyled" %></li>
        <li><%= link_to 'Edit my organization', edit_organisation_path(current_user), class: "list-unstyled" %></li>
      </ul>
    </div>



  </div>
</div>
