<div class="row" >
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1564750576234-75de3cc54053?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGluZGlnZW5vdXMlMjBhbWF6b258ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60)">
      Organisations you can find through our website
    </div>
  </div>

<div class="container p-5">
  <div class="row">
    <% @organisations.each do |organisation|%>
      <div class="col-12">
        <%= link_to organisation_path(organisation) do %>
          <div class="card-product">
            <% if organisation.photo.attached? %>
              <%= cl_image_tag organisation.photo.key %>
            <% end %>
            <div class="card-product-infos">
              <h2><%= organisation.name %></h2>
              <h3> <%= organisation.address %></h3>
              <p> <%= organisation.description %></p>
              <p> <%= organisation.website %></p>
              <p> <%= organisation.email %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
