<div class="background">
  <div class="banner" style="background-image: url(https://images.unsplash.com/photo-1564750576234-75de3cc54053?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2938&q=80)">
    <h2>ORGANISATIONS</h2>

      <div class="search">
        <%= form_with url: organisations_path, method: :get, class: "d-flex  w-50  mx-auto" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control opacity-50",
          placeholder: "What organisation or need are you looking for?"
        %>
      <button <%= submit_tag "Search", class: "searchButton"%>
        <i class="fa fa-search"></i>
      </button>
      <% end %>
      </div>
    <br>
    <br>
    <a href="#map" class="button p-3">View Map</a>
  </div>


  <div class="container p-5">
    <div class="row">
      <% @organisations.each do |organisation|%>
        <div class="col-4">
          <%= link_to organisation_path(organisation) do %>
            <div class="card-organisation mb-5 mx-2">
              <% if organisation.photo.attached? %>
                <%= cl_image_tag(organisation.photo.key, :crop => "pad", :class => "card-organisation-img") %>
              <% end %>
              <div class="card-organisation-block">
                <h5><%= organisation.name %></h5>
                <h6><i class="fa-solid fa-location-dot p-1"></i><%= organisation.address %></h6>
                <p><%= organisation.description.truncate(150)%></p>
                <h6><strong>Website: </strong><%= organisation.website %></h6>
                <h6><strong>E-mail: </strong><%= organisation.email %></h6>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div id="map" class="container" style="width: 100%; height: 700px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
