
<div class="container org-show">
  <div class="row">
    <div class=" col-12 col-lg-8">
      <div class="d-flex justify-content-start my-5">
        <% if @organisation.photo.attached? %>
            <%= cl_image_tag(@organisation.photo.key, :width=> 670, :crop=>"pad", :radius=>10) %>
        <% end %>
      </div>
      <h3><%= @organisation&.name&.capitalize %></h3>
      <h5><i class="fa-solid fa-location-dot p-1"></i><%= @organisation&.address&.capitalize %></h5>
      <p><%= @organisation&.description %></p>
      <h5><%= @organisation&.email %> </h5>
      <a href="<%= @organisation&.website %>">Visit our official website</a>

      <% if @organisation == current_user&.organisation %>
        <div class="container p-5">
          <%= link_to "Create a new post!", new_organisation_post_path(@organisation), class: "button" %>
        </div>

        <div class="container p-5">
          <h3>Specify the needs of your organisation here:</h3>
          <%= render "needs/form", need: @need, organisation: @organisation %>
        </div>
       <% end %>


      <%# <%= link_to "create a post", new_organisation_post_path %>
      <div class="my-5">
        <h3>Skills Needed for our Organisation</h3>
        <div class="accordion" id="accordionExample">
          <% @needs.each_with_index do |need, index| %>
            <div class="accordion-item">
              <h2 class="accordion-header pb-2" id="heading<%= index %>">
                <button class="accordion-button ab-skills collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>" aria-expanded="true" aria-controls="collapse<%= index %>">
                  <%= need.name %>
                </button>
              </h2>
                <div id="collapse<%= index %>" class="accordion-collapse collapse" aria-labelledby="heading<%= index %>" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <%= need.description%>
                    <div class="mt-4 mb-2">
                      <%= link_to "Contact us!", organisation_post_path(@organisation.email), class: "button p-3" %>
                    </div>
                  </div>
                </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-4">
        <h3 id="org-posts" class="mb-4">Posts</h3>
        <div class="cards-grid my-4">
            <% @organisation.posts.each do |post| %>

                <%= link_to organisation_post_path(@organisation, post) do%>
                <div class="card-product">
                  <% if post.photo.attached? %>
                  <%# cl_image_tag post.photo.key %>
                    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://res.cloudinary.com/dsepdhgsb/image/upload/v1/development/<%= post.photo.key %>)">
                      <%= post.title %>
                    </div>
                  <% end %>



                </div>
                <% end %>

            <% end %>
          </div>
      </div>
    </div>


    <div class="col-12 col-lg-4 my-4">
      <% if @organisation != current_user&.organisation %>
          <div class=" donation-border container p-5 sticky-top border radius-4">
            <h3>Donate:</h3>
              <%= simple_form_for [@organisation, @donation ] do |f| %>
                <%= f.input :type_of_donation, label: 'Currency', collection: ['€', '$'], placeholder:'Currency'%>
                <%= f.input :quantity, label: 'Amount' %>
                <%= f.input :description %>
                <div class="text-center">
                <%= f.submit "Donate!", class:"button" %>
                </div>
              <% end %>
          </div>
        <% end %>
    </div>
  </div>
</div>
