<div class="p-5">


        

          <% if @organisation.photo.attached? %>             
              <%= cl_image_tag(@organisation.photo.key, :width=>500, :crop=>"pad") %>
          <% end %>

        <h3><%= @organisation&.name&.capitalize %> </h3>
        <h3><%= @organisation&.address&.capitalize %> </h3>
        <p><%= @organisation&.description %></p>
        <%# <h4><%= @organisation&.website </h4> %>
        <a href="<%= @organisation&.website %>" class="btn btn-success btn-sm">official website</a>
        <h4><%= @organisation&.email %> </h4>



<div class="container p-5">
<h3>You can donate money here:</h3>
  <div class="col-4">
    <div class="row">
      <%= simple_form_for [@organisation, @donation ] do |f| %>
        <%= f.input :type_of_donation, collection: ['€', '$'], placeholder:'Currency' %>
        <%= f.input :quantity, placeholder: 'Amount'  %>
        <%= f.input :description %>
        <%= f.submit "Donate!" %>
      <% end %>
    </div>
  </div>
</div>

  <% if @organisation == current_user&.organisation %>
    <div class="container p-5">
          <%= link_to "Create a new post!", new_organisation_post_path(@organisation), class: "btn btn-warning btn-sm" %>
    </div>
  <% end %>

  <%# <%= link_to "create a post", new_organisation_post_path %>
  <div class="container p-5">
    <div class="col-4">
      <div class="row">
        <p><strong>Posts</strong></p>
          <ul class="list-group">
            <% @organisation.posts.each do |post| %>
              <li class="list-group-item"><%= link_to post.title, organisation_post_path(@organisation, post)%> <%= post.created_at %></li>
            <% end %>
          </ul>
      </div>
    </div>
  </div>

  <% if @organisation == current_user&.organisation %>
    <%= render "needs/form", need: @need, organisation: @organisation %>
    <% @needs.each do |need| %>
      <h2><%= need.name %>:</h2>
      <p><%= need.description  %></p>
    <% end %>
  <% end %>
</div>
