<div class="background-cards">
  <div class="banner-landing">
    <div class="">
     <h1>To Be Found</h1>
      <p>Help the indegenous people save the Amazon rainforest.</p>
      <% if current_user %>
        <%= link_to "Explore", organisations_path, class:"button" %>
        <% else %>
        <%= link_to "Sign up", new_user_registration_path, class:"button" %>
        <% end %>
    </div>
  </div>

  <div class="cards">
    <div class="card">
      <div class="mx-auto">
        <%= image_tag "sign_up.png" %>
      </div>
        <h2>EXPLORE</h2>
        <p>Explore the different local organisations fighting to save the Amazon rainforest!</p>
    </div>

    <div class="card">
      <div class="mx-auto">
        <%= image_tag "donate.png" %>
      </div>
     <h2>DONATE</h2>
      <p>Donate directly to trustworthy organisations & the indigenous people of Amazonia!</p>
    </div>
    <div class="card">
        <div class="mx-auto">
          <%= image_tag "help.png" %>
        </div>
      <h2>HELP</h2>
      <p>Offer your skills to support those who protect 10% of our earth`s biodiversity!</p>
    </div>
  </div>

  <div class="org_btn_background">
    <img src="//app/assets/images/landing-4.jpg" alt="">
    <h3>Want to checkout what is happening at the amazon frontlines?</h3>
    <%= link_to "Explore Organisations", organisations_path(@user), class:"button" %>
  </div>

  <div class="v_container">
  <iframe width="1420" height="630" src="https://www.youtube.com/embed/ysdAaL1u2qo" title="V CUMBRE AMAZÓNICA DE PUEBLOS INDÍGENAS: SOLUCIONES POR UNA AMAZONÍA VIVA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="video"></iframe>
  </div>
</div>
